<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
  <h1>메인</h1>
  <select id="type" name ="sunguType">
  <option value ="electionType2">국회의원</option>
  <option value ="electionType1">대통령</option>
  <option value ="electionType4">지방선거</option>
  </select>
  
    <select id="when" name ="whenTime">
  <option value ="electionType2">국회의원</option>
  <option value ="electionType1">대통령</option>
  <option value ="electionType4">지방선거</option>
  </select>
  
<a href="/makeGHdata">국회의원만들기</a>
<a href="/makeBRdata">비례대표만들기</a>
<a href="/makeDTdata">대통령만들기</a>
<a href="/makeJBdata">지방선거만들기</a>
<a href="/getGHVo">국회의원리스트</a>
<a href="/getBRVo">비례대표리스트</a>
<a href="/getDTVo">대통령리스트</a>
<a href="/getJBVo">지방선거리스트</a>
<hr/>

</body>
</html>